[submodule "homework/hw1-ruby-language"]
	path = homework/hw1-ruby-language
	url = git@github.com:Amblizer/ruby-language.git
[submodule "homework/hw2-sinatra"]
	path = homework/hw2-sinatra
	url = git@github.com:Amblizer/sinatra-website.git
[submodule "slide"]
	path = slide
	url = git@github.com:Amblizer/COEN278-ruby-slides.git
[submodule "examCheatSheet"]
	path = examCheatSheet
	url = git@github.com:Amblizer/rubyCheat.git
