<head>  </head>
<body>  
  <h1>Songs by Sinatra (home layout)</h1>
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/contact">Contact</a></li>                        
    </ul>
<%= yield %>
<%#= erb @name %>
</body>
</html>
