<html>
<head>
<link href="style.css" rel="stylesheet" type="text/css">
<title><%= @title || "Songs by Sinatra"%></title>
</head>
<body>  
  <h1>Songs by Sinatra</h1>
  <img src="images/sinatra.jpg" alt="sinatra" width=100%>
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/about">About</a></li>
  <li><a href="/contact">Contact</a></li>                        
    </ul>
<%= yield %>
</body>
</html>
