$red: #903;
$black: #444;
$white: #fff;
$main-font: Helvetica, Arial, sans-serif;
$htmlbgcolor: #ccc;
$bodybgcolor: #dddcd9;
$ahovercolor: #637094;
$headercolor: #a09b89;

html {
    background-color: $htmlbgcolor;
}
body {
    width:700px;
    height:900px;
    background-color: $bodybgcolor;
    margin:2em auto 2em;
    padding:25px;
    position:relative;
    font-family: $main-font;	
}


h1 {
  color: $red;
  font: 32px/1 $main-font;
}

header h1 {
  font-size: 40px;
  line-height: 80px;
  background: transparent url(/images/logo.png) 0 0 no-repeat;
  padding-left: 105px;
}

@mixin tabs ($background: blue, $color: yellow) {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: $background;
    overflow: hidden;
  }
  li {
    float: left;
  }
  a {
    text-decoration: none;
    display: block;
    padding: 8px;
    background: $background;
    color: $color;
    &:hover {
      background: darken($background, 20%);
    }
  }
}

nav {
  @include tabs ($background: $black, $color: $white);
  font-weight: bold;
}

p {
  font: 13px/1.4 $main-font;
}

label {
  display: block;
}
